<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Signup</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="form-container">
        <h2>Signup</h2>
        <form action="/signup" method="post">
            <div class="formgroup">
                <label for="name">Name</label>
                <input type="text" id="name" name="user_name" placeholder="Enter your name">
            </div>

            <div class="formgroup">
                <label for="password">Password</label>
                <input type="password" id="password" name="user_password" placeholder="Enter your password">
            </div>

            <button type="submit" id="submit">signup</button>
        </form>

        <p>Already have account? <a href="/">Login</a></p>
    </div>
</body>
</html>